* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body,
html {
  background: #eee;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.form-container {
  display: flex;
  flex: auto;
  justify-content: space-between;
  width: 80vw;
  margin: 5pc auto;
}

.form-container input {
  border: none;
  width: 70%;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 10px 10px 20px -10px #222;
}
.form-container input[type="text"] {
  outline: none;
}
.form-container button {
  padding: 10px 5px;
  font: 600;
  font-size: 1em;
  border-radius: 5px;
  outline: 2px solid tomato;
  background: tomato;
  border: none;
  outline-offset: 2px;
  transition: all 120ms linear;
  color: #222;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
}
.form-container button:active,
.eachTodo button.complete:active,
.eachTodo button.delete:active {
  outline-offset: -1px;
}
.form-container button:hover {
  background: #b75740;
}
ul {
  list-style-type: none;
}
.flex-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 2pc auto;
}

.eachTodo p {
  width: 70%;
  height: 30pt;
  text-align: left;
  display: flex;
  align-items: center;
  background: #cccccc;
  box-shadow: 2.5px 5px 10px -3px black;
  border-radius: 4px;
  padding: 5px 4px;
}

.eachTodo button.complete {
  padding: 5px;
  font-size: 0.875em;
  border-radius: 5px;
  outline: 2px solid skyblue;
  background: skyblue;
  border: none;
  outline-offset: 2px;
  transition: all 120ms linear;
  color: #222;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
}
.eachTodo button.delete {
  padding: 5px;
  font-size: 0.875em;
  border-radius: 5px;
  outline: 2px solid red;
  background: red;
  border: none;
  outline-offset: 2px;
  transition: all 120ms linear;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
}
.eachTodo button.deleteNot {
  padding: 5px;
  font-size: 0.875em;
  border-radius: 5px;
  outline: 2px solid #f004;
  background: #f004;
  border: none;
  outline-offset: 2px;
  transition: all 120ms linear;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: not-allowed;
}
